.elementor-1134 .elementor-element.elementor-element-3e4c16c > .elementor-container {
    min-height: 430px;
}

.elementor-1134 .elementor-element.elementor-element-3e4c16c .elementor-background-slideshow__slide__image {
    background-size: cover;
    background-position: center center;
}

.elementor-1134 .elementor-element.elementor-element-3e4c16c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -94px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-1134 .elementor-element.elementor-element-3e4c16c > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-7c70eaa > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1134 .elementor-element.elementor-element-f3b6bc6 .elementor-heading-title {
    color: #000000;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 80px;
    font-weight: 400;
}

.elementor-1134 .elementor-element.elementor-element-c2fe526 .elementor-button {
    font-family: "Barlow", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF9015;
    border-radius: 22px 22px 22px 22px;
    padding: 15px 50px 15px 50px;
}

.elementor-1134 .elementor-element.elementor-element-c2fe526 .elementor-button:hover, .elementor-1134 .elementor-element.elementor-element-c2fe526 .elementor-button:focus {
    background-color: #F08208;
}

.elementor-1134 .elementor-element.elementor-element-8a343dd > .elementor-container {
    min-height: 430px;
}

.elementor-1134 .elementor-element.elementor-element-8a343dd .elementor-background-slideshow__slide__image {
    background-size: cover;
    background-position: center center;
}

.elementor-1134 .elementor-element.elementor-element-8a343dd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -94px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-1134 .elementor-element.elementor-element-8a343dd > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-c1aa9a1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1134 .elementor-element.elementor-element-5585fc3 .elementor-heading-title {
    color: #4D4D4D;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 80px;
    font-weight: 400;
}

.elementor-1134 .elementor-element.elementor-element-9d57c47:not(.elementor-motion-effects-element-type-background), .elementor-1134 .elementor-element.elementor-element-9d57c47 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1134 .elementor-element.elementor-element-9d57c47 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-9d57c47 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-01a9c72 .elementor-button {
    font-family: "Barlow", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF9015;
    border-radius: 22px 22px 22px 22px;
    padding: 15px 50px 15px 50px;
}

.elementor-1134 .elementor-element.elementor-element-01a9c72 .elementor-button:hover, .elementor-1134 .elementor-element.elementor-element-01a9c72 .elementor-button:focus {
    background-color: #F08208;
}

.elementor-1134 .elementor-element.elementor-element-a7e9fe0:not(.elementor-motion-effects-element-type-background), .elementor-1134 .elementor-element.elementor-element-a7e9fe0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1134 .elementor-element.elementor-element-a7e9fe0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px 40px 0px;
}

.elementor-1134 .elementor-element.elementor-element-a7e9fe0 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1134 .elementor-element.elementor-element-4681379.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1134 .elementor-element.elementor-element-4681379.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1134 .elementor-element.elementor-element-4681379:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-background-slideshow {
    border-radius: 40px 40px 40px 40px;
}

.elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-element-populated {
    box-shadow: 0px 0px 15px 0px rgba(124, 124, 124, 0.32);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 30px 30px 30px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 30px;
    padding: 20px 20px 20px 20px;
}

.elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-accd049 {
    text-align: center;
}

.elementor-1134 .elementor-element.elementor-element-accd049 img {
    width: 60%;
}

.elementor-bc-flex-widget .elementor-1134 .elementor-element.elementor-element-9d53af5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1134 .elementor-element.elementor-element-9d53af5.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1134 .elementor-element.elementor-element-9d53af5:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-background-slideshow {
    border-radius: 40px 40px 40px 40px;
}

.elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-element-populated {
    box-shadow: 0px 0px 15px 0px rgba(124, 124, 124, 0.32);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 30px 30px 30px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 30px;
    padding: 20px 20px 20px 20px;
}

.elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-833a562 {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-1134 .elementor-element.elementor-element-6f4f492.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1134 .elementor-element.elementor-element-6f4f492.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1134 .elementor-element.elementor-element-6f4f492:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-background-slideshow {
    border-radius: 40px 40px 40px 40px;
}

.elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-element-populated {
    box-shadow: 0px 0px 15px 0px rgba(124, 124, 124, 0.32);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 30px 30px 30px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 30px;
    padding: 20px 20px 20px 20px;
}

.elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-fc3f6bd {
    text-align: center;
}

.elementor-1134 .elementor-element.elementor-element-fc3f6bd img {
    width: 74%;
}

.elementor-bc-flex-widget .elementor-1134 .elementor-element.elementor-element-2dc2810.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1134 .elementor-element.elementor-element-2dc2810.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1134 .elementor-element.elementor-element-2dc2810:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-background-slideshow {
    border-radius: 40px 40px 40px 40px;
}

.elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-element-populated {
    box-shadow: 0px 0px 15px 0px rgba(124, 124, 124, 0.32);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 30px 30px 30px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 30px;
    padding: 20px 20px 20px 20px;
}

.elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-073c62f {
    text-align: center;
}

.elementor-1134 .elementor-element.elementor-element-073c62f img {
    width: 60%;
}

.elementor-1134 .elementor-element.elementor-element-6a4dbbd:not(.elementor-motion-effects-element-type-background), .elementor-1134 .elementor-element.elementor-element-6a4dbbd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1134 .elementor-element.elementor-element-6a4dbbd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-6a4dbbd > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-bd46dfd {
    margin-top: 50px;
    margin-bottom: 80px;
}

.elementor-1134 .elementor-element.elementor-element-06997a5 .elementor-main-swiper .elementor-carousel-image {
    background-size: contain;
}

.elementor-1134 .elementor-element.elementor-element-06997a5.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
}

.elementor-1134 .elementor-element.elementor-element-06997a5 .elementor-main-swiper .swiper-slide {
    border-radius: 6px;
}

.elementor-1134 .elementor-element.elementor-element-06997a5 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-1134 .elementor-element.elementor-element-6913ad0 .elementor-main-swiper .elementor-carousel-image {
    background-size: contain;
}

.elementor-1134 .elementor-element.elementor-element-6913ad0.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
}

.elementor-1134 .elementor-element.elementor-element-6913ad0 .elementor-main-swiper .swiper-slide {
    border-radius: 6px;
}

.elementor-1134 .elementor-element.elementor-element-6913ad0 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-1134 .elementor-element.elementor-element-ee73409 {
    text-align: center;
}

.elementor-1134 .elementor-element.elementor-element-ee73409 .elementor-heading-title {
    color: #4D4D4D;
    font-family: "Barlow", Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.elementor-1134 .elementor-element.elementor-element-ee73409 > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1134 .elementor-element.elementor-element-e9ee118 .elementor-main-swiper {
    height: 100px;
}

.elementor-1134 .elementor-element.elementor-element-e9ee118 .elementor-main-swiper .elementor-carousel-image {
    background-size: contain;
}

.elementor-1134 .elementor-element.elementor-element-e9ee118.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
}

.elementor-1134 .elementor-element.elementor-element-e9ee118 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-1134 .elementor-element.elementor-element-f092d6a > .elementor-container {
    min-height: 400px;
}

.elementor-1134 .elementor-element.elementor-element-f092d6a:not(.elementor-motion-effects-element-type-background), .elementor-1134 .elementor-element.elementor-element-f092d6a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("https://www.buspack.com.ar/wp-content/uploads/2023/03/header-necesitas-ayuda-1920x600px-1-2.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1134 .elementor-element.elementor-element-f092d6a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-f092d6a > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-91e37f8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1134 .elementor-element.elementor-element-f8ee7b9 .elementor-heading-title {
    color: #4D4D4D;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 75px;
    font-weight: 400;
}

.elementor-1134 .elementor-element.elementor-element-a23bec4 {
    font-family: "Barlow Condensed", Sans-serif;
    font-size: 33px;
    font-weight: 400;
}

.elementor-1134 .elementor-element.elementor-element-4b833b0 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.elementor-1134 .elementor-element.elementor-element-3ac7a45:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1134 .elementor-element.elementor-element-3ac7a45 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFECD9;
}

.elementor-1134 .elementor-element.elementor-element-3ac7a45 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-3ac7a45 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-3ac7a45 > .elementor-background-slideshow {
    border-radius: 30px 30px 30px 30px;
}

.elementor-1134 .elementor-element.elementor-element-3ac7a45 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 40px 40px 40px 40px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 40px;
    padding: 10px 40px 10px 40px;
}

.elementor-1134 .elementor-element.elementor-element-3ac7a45 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-529b2fb:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1134 .elementor-element.elementor-element-529b2fb > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFECD9;
}

.elementor-1134 .elementor-element.elementor-element-529b2fb > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-529b2fb > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-529b2fb > .elementor-background-slideshow {
    border-radius: 30px 30px 30px 30px;
}

.elementor-1134 .elementor-element.elementor-element-529b2fb > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 40px 40px 40px 40px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 40px;
    padding: 10px 40px 10px 40px;
}

.elementor-1134 .elementor-element.elementor-element-529b2fb > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-4051b8f:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1134 .elementor-element.elementor-element-4051b8f > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFECD9;
}

.elementor-1134 .elementor-element.elementor-element-4051b8f > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-4051b8f > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-4051b8f > .elementor-background-slideshow {
    border-radius: 30px 30px 30px 30px;
}

.elementor-1134 .elementor-element.elementor-element-4051b8f > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 40px 40px 40px 40px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 40px;
    padding: 10px 40px 10px 40px;
}

.elementor-1134 .elementor-element.elementor-element-4051b8f > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-8546477 > .elementor-container {
    min-height: 441px;
}

.elementor-1134 .elementor-element.elementor-element-8546477:not(.elementor-motion-effects-element-type-background), .elementor-1134 .elementor-element.elementor-element-8546477 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FF8901;
}

.elementor-1134 .elementor-element.elementor-element-8546477 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 2;
}

.elementor-1134 .elementor-element.elementor-element-8546477 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1134 .elementor-element.elementor-element-baf157e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1134 .elementor-element.elementor-element-947105a {
    text-align: center;
}

.elementor-1134 .elementor-element.elementor-element-947105a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Barlow", Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.elementor-1134 .elementor-element.elementor-element-947105a > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width: 1024px) {
    .elementor-1134 .elementor-element.elementor-element-06997a5.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom:10px;
    }

    .elementor-1134 .elementor-element.elementor-element-6913ad0.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }

    .elementor-1134 .elementor-element.elementor-element-e9ee118.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }
}

@media(max-width: 767px) {
    .elementor-1134 .elementor-element.elementor-element-3e4c16c > .elementor-container {
        min-height:410px;
    }

    .elementor-1134 .elementor-element.elementor-element-3e4c16c {
        padding: 0px 0px 0px 20px;
    }

    .elementor-1134 .elementor-element.elementor-element-7c70eaa > .elementor-element-populated {
        margin: 50px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 100px 0px 0px;
    }

    .elementor-1134 .elementor-element.elementor-element-f3b6bc6 .elementor-heading-title {
        font-size: 65px;
        line-height: 0.9em;
    }

    .elementor-1134 .elementor-element.elementor-element-c2fe526 > .elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }

    .elementor-1134 .elementor-element.elementor-element-8a343dd > .elementor-container {
        min-height: 410px;
    }

    .elementor-1134 .elementor-element.elementor-element-8a343dd {
        padding: 0px 0px 0px 20px;
    }

    .elementor-1134 .elementor-element.elementor-element-c1aa9a1 > .elementor-element-populated {
        margin: 50px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 100px 0px 0px;
    }

    .elementor-1134 .elementor-element.elementor-element-5585fc3 .elementor-heading-title {
        font-size: 65px;
        line-height: 0.9em;
    }

    .elementor-1134 .elementor-element.elementor-element-01a9c72 .elementor-button {
        padding: 15px 90px 15px 90px;
    }

    .elementor-1134 .elementor-element.elementor-element-01a9c72 > .elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }

    .elementor-1134 .elementor-element.elementor-element-a7e9fe0 {
        padding: 40px 5px 50px 05px;
    }

    .elementor-1134 .elementor-element.elementor-element-4681379 {
        width: 50%;
    }

    .elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-background-slideshow {
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-1134 .elementor-element.elementor-element-4681379 > .elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 5px 5px 5px 5px;
    }

    .elementor-1134 .elementor-element.elementor-element-9d53af5 {
        width: 50%;
    }

    .elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-background-slideshow {
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-1134 .elementor-element.elementor-element-9d53af5 > .elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 5px 5px 5px 5px;
    }

    .elementor-1134 .elementor-element.elementor-element-6f4f492 {
        width: 50%;
    }

    .elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-background-slideshow {
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-1134 .elementor-element.elementor-element-6f4f492 > .elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 5px 5px 5px 5px;
    }

    .elementor-1134 .elementor-element.elementor-element-2dc2810 {
        width: 50%;
    }

    .elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-element-populated, .elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-element-populated > .elementor-background-overlay, .elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-background-slideshow {
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-1134 .elementor-element.elementor-element-2dc2810 > .elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 5px 5px 5px 5px;
    }

    .elementor-1134 .elementor-element.elementor-element-06997a5.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }

    .elementor-1134 .elementor-element.elementor-element-6913ad0.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }

    .elementor-1134 .elementor-element.elementor-element-e9ee118.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }

    .elementor-1134 .elementor-element.elementor-element-f092d6a:not(.elementor-motion-effects-element-type-background), .elementor-1134 .elementor-element.elementor-element-f092d6a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-image: url("https://www.buspack.com.ar/wp-content/uploads/2023/05/Contacto-1-600x400-1.jpg");
        background-position: center center;
    }

    .elementor-1134 .elementor-element.elementor-element-f8ee7b9 .elementor-heading-title {
        font-size: 65px;
        line-height: 0.9em;
    }

    .elementor-1134 .elementor-element.elementor-element-a23bec4 {
        font-size: 25px;
    }

    .elementor-1134 .elementor-element.elementor-element-3ac7a45 {
        width: 33%;
    }

    .elementor-1134 .elementor-element.elementor-element-3ac7a45 > .elementor-element-populated {
        margin: 5px 5px 5px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1134 .elementor-element.elementor-element-529b2fb {
        width: 33%;
    }

    .elementor-1134 .elementor-element.elementor-element-529b2fb > .elementor-element-populated {
        margin: 5px 5px 5px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1134 .elementor-element.elementor-element-4051b8f {
        width: 33%;
    }

    .elementor-1134 .elementor-element.elementor-element-4051b8f > .elementor-element-populated {
        margin: 5px 5px 5px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 0px 0px 0px 0px;
    }
}